@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus est ac sodales tempor. Aliquam ut ligula
        et libero scelerisque tempus. Nam ut posuere dolor, eu bibendum mauris. Nullam a eros at dolor euismod fermentum vitae vel
        sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris sed auctor lectus.</p>
